<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key><string>Leafy</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key><string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
    <key>ITSAppUsesNonExemptEncryption</key><false/>
    <key>LSRequiresIPhoneOS</key><true/>
    <key>NSCameraUsageDescription</key><string>Leafy uses the camera to scan products and photograph meals you choose to estimate.</string>
    <key>UIAppFonts</key>
    <array>
        <string>PlusJakartaSans-Regular.ttf</string>
        <string>PlusJakartaSans-Medium.ttf</string>
        <string>PlusJakartaSans-SemiBold.ttf</string>
        <string>PlusJakartaSans-Bold.ttf</string>
        <string>PlusJakartaSans-ExtraBold.ttf</string>
    </array>
    <key>UIApplicationSceneManifest</key><dict><key>UIApplicationSupportsMultipleScenes</key><false/></dict>
    <key>UILaunchStoryboardName</key><string>LaunchScreen</string>
    <key>UIRequiresFullScreen</key><true/>
    <key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
    <key>SUPABASE_URL</key><string>$(SUPABASE_URL)</string>
    <key>SUPABASE_PUBLISHABLE_KEY</key><string>$(SUPABASE_PUBLISHABLE_KEY)</string>
    <key>PRIVACY_POLICY_URL</key><string>$(PRIVACY_POLICY_URL)</string>
    <key>TERMS_URL</key><string>$(TERMS_URL)</string>
    <key>SUPPORT_URL</key><string>$(SUPPORT_URL)</string>
</dict>
</plist>
