SUPABASE_URL = https:/$()/auccbmadpqowyksevygj.supabase.co
SUPABASE_PUBLISHABLE_KEY = sb_publishable_3rle_NYxAUUOJrDeDi9FXQ_E_16Zh1_
PRIVACY_POLICY_URL = https:/$()/rahsanlewis.github.io/leafy-legal/privacy/
TERMS_URL = https:/$()/rahsanlewis.github.io/leafy-legal/terms/
SUPPORT_URL = https:/$()/rahsanlewis.github.io/leafy-legal/support/
